# Accessing the CityBikes API

In [1]:
import pandas as pd
import requests
import json

In [10]:
# Base URL
base_url = 'http://api.citybik.es/v2'

# Making a get request to get a list of networks
response = requests.get(f'{base_url}/networks')

In [11]:
# Checking to see if request was successful, if so status code should be 200
if response.status_code == 200:
    networks_data = response.json()
    print(f'Successful request! STATUS CODE {response.status_code}')
else:
    print(f'Error: unable to get data. STATUS CODE {response.status_code}')

Successful request! STATUS CODE 200

In [12]:
# Processing the data
network_name = "Bike Share Toronto"
network_id = next(network['id'] for network in networks_data['networks'] if network['name'] == network_name)

In [13]:
response = requests.get(f"{base_url}/networks/{network_id}")

if response.status_code == 200:
    network_details = response.json()
    stations_data = network_details['network']['stations']
    print(f'Successful request! STATUS CODE {response.status_code}')
else:
    print(f"Error: Unable to retrieve network details. Status code {response.status_code}")

Successful request! STATUS CODE 200

In [21]:
df = pd.json_normalize(stations_data)
df = df[['latitude', 'longitude', 'free_bikes']]
df

      latitude  longitude  free_bikes
0    43.665269 -79.319796          18
1    43.671420 -79.445947           2
2    43.666224 -79.317693          10
3    43.653236 -79.376716           4
4    43.663722 -79.380288          23
..         ...        ...         ...
712  43.601915 -79.499419           1
713  43.642852 -79.531995           1
714  43.650945 -79.379498           0
715  43.707356 -79.437231           0
716  43.601162 -79.504160           1

[717 rows x 3 columns]

In [22]:
# JSON -> Pandas DataFrame
df_ = pd.DataFrame(df)
df_.to_csv('BikeShareToronto.csv')

In [ ]:
df.explode() #if lists in a row entry - 
# new column with euclidean distance comparing each bike lat/lon to to all fsq_ids in yelp/FSQ