# Accessing the CityBikes API

In [2]:
import pandas as pd
import requests
import json

In [3]:
# Base URL
base_url = 'http://api.citybik.es/v2'

# Making a get request to get a list of networks
response = requests.get(f'{base_url}/networks')

In [4]:
# Checking to see if request was successful, if so status code should be 200
if response.status_code == 200:
    networks_data = response.json()
    print(f'Successful request! STATUS CODE {response.status_code}')
else:
    print(f'Error: unable to get data. STATUS CODE {response.status_code}')

Successful request! STATUS CODE 200

In [5]:
# Processing the data - I chose to do the city of Toronto, Canada and 'Bike Share Toronto' services rental bikes in this city.
network_name = "Bike Share Toronto"
network_id = next(network['id'] for network in networks_data['networks'] if network['name'] == network_name)

In [6]:
# getting a 'get response' from the base url followed by a network search.
response = requests.get(f"{base_url}/networks/{network_id}")

if response.status_code == 200:
    network_details = response.json()
    stations_data = network_details['network']['stations']
    print(f'Successful request! STATUS CODE {response.status_code}')
else:
    print(f"Error: Unable to retrieve network details. Status code {response.status_code}")

Successful request! STATUS CODE 200

In [7]:
# normalising the stations data json from above using panas and extracting longitude, latitude and the number of free bikes (at time of sending get request)
df = pd.json_normalize(stations_data)
df = df[['latitude', 'longitude', 'free_bikes']]
df

      latitude  longitude  free_bikes
0    43.665269 -79.319796          17
1    43.671420 -79.445947           6
2    43.666224 -79.317693          21
3    43.653236 -79.376716          13
4    43.663722 -79.380288           0
..         ...        ...         ...
711  43.642852 -79.531995           2
712  43.650945 -79.379498           4
713  43.707356 -79.437231           1
714  43.601162 -79.504160           0
715  43.645986 -79.399566           2

[716 rows x 3 columns]

In [8]:
# JSON -> Pandas DataFrame
df_ = pd.DataFrame(df)
df_.to_csv('BikeShareToronto.csv')
df_

      latitude  longitude  free_bikes
0    43.665269 -79.319796          17
1    43.671420 -79.445947           6
2    43.666224 -79.317693          21
3    43.653236 -79.376716          13
4    43.663722 -79.380288           0
..         ...        ...         ...
711  43.642852 -79.531995           2
712  43.650945 -79.379498           4
713  43.707356 -79.437231           1
714  43.601162 -79.504160           0
715  43.645986 -79.399566           2

[716 rows x 3 columns]

### NOTE: 

### The above produces data on all bike stations in toronto and was ran in the evening time so the number of bikes available 'free_bikes' will reflect that. In theory, there should be more free bikes in the evening time.